# NestJS / Node
packages/backend/dist/
packages/backend/node_modules/
packages/backend/.env
packages/backend/.env.local

# Flutter/Dart/Pub related (now in packages/mobile)
packages/mobile/**/doc/api/
packages/mobile/.dart_tool/
packages/mobile/.flutter-plugins-dependencies
packages/mobile/.pub-cache/
packages/mobile/.pub/
packages/mobile/build/
packages/mobile/**/build/

# Android keys (not committed)
packages/mobile/android/app/google-services.json
packages/mobile/android/app/debug
packages/mobile/android/app/profile
packages/mobile/android/app/release

# Misc
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.history
.svn/
.swiftpm/
*.iml
*.ipr
*.iws
.idea/
app.*.symbols
app.*.map.json
/coverage/
**/.env**
**/build/**
**/task**
